.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 1034px;
  background: #f2f2f2 0% 0% no-repeat padding-box;
  opacity: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 220px;
}

.footer .footer-download-appInfo {
  width: 1480px;
  height: 222px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 111px;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.footer .footer-download-appInfo .footer-download-appInfo-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20%;
}

.footer .footer-download-appInfo .footer-download-appInfo-card .footer-download-appInfo-card-phone {
  position: absolute;
  width: 352px;
  height: 360px;
  left: 20%;
  bottom: 0;
}

.footer .footer-download-appInfo .footer-download-appInfo-card .card-link-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 7%;
}

.footer .footer-download-appInfo .footer-download-appInfo-card .card-link-top .card-link-qcode {
  margin-right: 25px;
}

.footer .footer-download-appInfo .footer-download-appInfo-card .card-link-top .card-link-top-text p {
  text-align: left;
  font: normal normal bold 18px/23px Source Sans Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-weight: bold;
  font-size: 14px;
}

.footer .footer-download-appInfo .footer-download-appInfo-card .card-link-top .card-link-top-text span {
  text-align: left;
  font: normal normal normal 13px/16px Source Sans Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.footer .footer-download-appInfo .footer-download-appInfo-card .card-link-top .card-link-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 27px;
}

.footer .footer-download-appInfo .footer-download-appInfo-card .card-link-top .card-link-bottom img {
  height: 52px;
  cursor: pointer;
  margin-right: 15px;
}

.footer .footer-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 107px;
}

.footer .footer-center .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  border-right: 1px dotted;
  width: 35%;
  margin-left: 220px;
}

.footer .footer-center .left-side .left-side-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin-bottom: 28px;
}

.footer .footer-center .left-side .left-side-image img {
  width: 209px;
  height: 41px;
  opacity: 1;
}

.footer .footer-center .left-side .left-side-socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 28px;
}

.footer .footer-center .left-side .left-side-socialMedia img {
  margin-right: 30px;
}

.footer .footer-center .left-side .left-side-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 28px;
}

.footer .footer-center .left-side .left-side-text p {
  text-align: left;
  font: normal normal normal 15px/22px Source Sans Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.footer .footer-center .left-side .left-side-text a {
  text-align: left;
  text-decoration: underline;
  font: normal normal normal 15px/22px Source Sans Pro;
  letter-spacing: 0px;
  color: #000000;
}

.footer .footer-center .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 25px;
}

.footer .footer-center .right-side .right-side-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
}

.footer .footer-center .right-side .right-side-lists ul {
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer .footer-center .right-side .right-side-lists ul .list-title {
  text-align: center;
  font: normal normal normal 18px/23px Source Sans Pro;
  letter-spacing: 0px;
  color: #044dc3;
  opacity: 1;
}

.footer .footer-center .right-side .right-side-lists ul li {
  margin-bottom: 10px;
}

.footer .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1320px;
  height: 107px;
  margin-top: 96px;
}

.footer .footer-bottom p {
  text-align: center;
  font: normal normal normal 15px/22px Source Sans Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.footer-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 220px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-radius: 120px;
}

.footer-info-container .footer-info-container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 20%;
}

.footer-info-container .footer-info-container-left img {
  width: 350px;
  height: 360px;
}

.footer-info-container .footer-info-container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20%;
}

.footer-info-container .footer-info-container-right .footer-info-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-info-container .footer-info-container-right .footer-info-top .card-link-qcode {
  margin-right: 12px;
}

.footer-info-container .footer-info-container-right .footer-info-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-info-container .footer-info-container-right .footer-info-bottom img:nth-child(1) {
  margin-right: 12px;
}
/*# sourceMappingURL=footer.css.map */